!/nbproject
!/nbproject/*
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

_dats
_dev
!/_dev/*
dev
!/_anotused/*
!/_noupload/*
_notused
anotused
notused
aunused
_aunused
_bak
_baks
_back
_backs
_self
_me
_files

!/_delfiles/*
_delfiles/
!/_delimages/*
_delimages/
!/pdev/*
pdev/
!/cache/*
/cache/
cache
!/_cache/*
/_cache/
_cache
!/_datas/*
_datas/
_datas
!/_dats/*
/_dats/
_dats

/_domains/*
_domains/*

dom-db.php

.sass-cache
!/.sass-cache/*
.github
.gitattributes
.npmignore

.~*
*.gpg
*.DS_Store
*.lck
*.lock
.placeholder
*.bak


node_modules

phantomjs
/libse/phantomjs/bin/*
libse/phantomjs/bin/*
/libse/phantomjs/bin/phantomjs
libse/phantomjs/bin/phantomjs

vendor
vendor/*
